{% extends '_base.html' %}

{% block page_title %}Book List{% endblock %}

{% block content %}
    <div class="container mt-3">
        {% for book in books %}
            <div class="container mt-2">
                <h2>{{ book.title|capfirst }}</h2>
                <h5>{{ book.author }}</h5>
                <p>{{ book.description|truncatewords:15 }}</p>
                <a class="btn btn-success" href="{{ book.get_absolute_url }}">مشاهده</a>
                <br>
            </div>
        {% endfor %}
        <a class="btn mt-5" href="{% url 'book_create' %}">افزودن کتاب جدید</a>
    </div>
{% endblock %}